@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

:root {
  /* Colors */

  --color-dark: #0b0d17;
  --color-light-violet: #d0d6f9;
  --color-white: #ffffff;

  /* Typography */
  --font-family-sans: "Barlow Condensed", sans-serif;
  --font-family-serif: "Bellefair", serif;

  /* Design elements */
  --transition: 300ms ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  color: var(--color-white);
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}
